# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Check code style
        run: npm run lint

      - name: Run unit tests
        run: npm test
        env:
          CI: true
          ACCESS_TOKEN: ${{secrets.ACCESS_TOKEN}}

      - name: Run smoke tests
        run: sh ./getAccessToken.sh
        run: sh ./test.sh
