# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [lts/fermium]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install Doxygen
        run: sudo apt-get install doxygen

      - name: install pm2 for process management
        run: npm i -g pm2

      - name: Create .env file for sasjs/server
        run: |
          touch .env
          echo RUN_TIMES=js >> .env
          echo NODE_PATH=node >> .env
          echo MOCK_SERVERTYPE=sas9 >> .env

      - name: download sasjs/server package from github using curl
        run: curl -L https://github.com/sasjs/server/releases/latest/download/linux.zip > linux.zip

      - name: unzip downloaded package
        run: unzip linux.zip

      - name: run sasjs server
        run: pm2 start api-linux

      - name: Check npm audit
        run: npm audit --production --audit-level=low

      - name: Install production dependencies (fail if any warning)
        run: sh ./npm-production-install.sh

      - name: Install dependencies
        run: |
          npm config set registry http://registry.npmjs.org
          npm ci

      - name: Check code style
        run: npm run lint

      - name: Build Project
        run: npm run build

      - name: Test Package Install
        run: npm version "5.0.0" --no-git-tag-version && npm pack && npm install -g ./sasjs-cli-5.0.0.tgz && sasjs v

      - name: Run smoke tests
        run: sh ./test.sh

      - name: Run mocked tests
        run: npm run test:mocked
        env:
          CI: true
          CLIENT: ${{secrets.CLIENT}}
          SECRET: ${{secrets.SECRET}}
          SAS_USERNAME: ${{secrets.SAS_USERNAME}}
          SAS_PASSWORD: ${{secrets.SAS_PASSWORD}}
          VIYA_SERVER_URL: ${{secrets.VIYA_SERVER_URL}}
          SAS9_SERVER_URL: 'http://localhost:5000'
          SASJS_SERVER_URL: 'http://localhost:5000'
          ACCESS_TOKEN: ${{secrets.ACCESS_TOKEN}}
          REFRESH_TOKEN: ${{secrets.REFRESH_TOKEN}}

      - name: Deploy SAS9 tests
        run: |
          cd mocks
          sasjs cbd
          cd ..
          ls sasjs_root -R

      - name: Run server tests
        run: |
          npm run test:server
        env:
          CI: true
          CLIENT: ${{secrets.CLIENT}}
          SECRET: ${{secrets.SECRET}}
          SAS_USERNAME: ${{secrets.SAS_USERNAME}}
          SAS_PASSWORD: ${{secrets.SAS_PASSWORD}}
          VIYA_SERVER_URL: ${{secrets.VIYA_SERVER_URL}}
          SAS9_SERVER_URL: http://localhost:5000
          SASJS_SERVER_URL: http://localhost:5000
          ACCESS_TOKEN: ${{secrets.ACCESS_TOKEN}}
          REFRESH_TOKEN: ${{secrets.REFRESH_TOKEN}}

      # For some reason if coverage report action is run before other commands, those commands can't access the directories and files on which they depend on
      - name: Generate coverage report
        uses: artiomtr/jest-coverage-report-action@v2.0-rc.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}